.projects-heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.projects-heading:hover {
  // background: linear-gradient(180deg, black, #e52e71);
  // -webkit-background-clip: text;
  // background-clip: text;
  // color: transparent;
  // text-shadow: none;
  color: rgba(var(--heading-pink));
}

hr {
  background-color: rgba(var(--heading-pink));
  color: rgba(var(--heading-pink));
  height: 2px;
}
.main-heading-effect {
  color: rgba(var(--heading-pink));
  // text-shadow: 0 0 20px white;
}

@media screen and (max-width: 1200px) {
  .card-div {
    // grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 850px) {
  .card-div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 650px) {
  .card-div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
}
