.projects-heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.projects-heading:hover {
  color: rgb(var(--color-heading-red));
}

hr {
  background-color: rgb(var(--color-heading-red));
  color: rgb(var(--color-heading-red));
  height: 2px;
}
.main-heading-effect {
  color: rgb(var(--color-heading-red));
}
.project-div {
  width: 100%;
  height: auto;
  overflow-x: auto;
}
.project-card {
  transition: all 0.3s ease-in-out;
}
.project-card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .card-div {
    gap: 20px;
    padding: 0 10px;
  }
  .project-div {
    padding: 20px;
  }
}
@media screen and (max-width: 850px) {
  .card-div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .project-div {
    flex-direction: column;
    margin: 0 auto;
  }
  .project-card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 650px) {
  .card-div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }
  .projects-parent-div {
    margin: 0 20px;
  }
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change color as needed */
  border-radius: 20px;
}

/* For Firefox */
/* Note: Firefox supports a separate pseudo-element, scrollbar-thumb, for the scrollbar thumb style */
/* This example sets both scrollbar and thumb to a width of 10px */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* For Internet Explorer */
*::-ms-scrollbar {
  width: 5px;
  height: 5px;
}

*::-ms-scrollbar-thumb {
  background-color: #888; /* Change color as needed */
}
