<div class="flex">
  <form
    class="border mx-auto px-20 w-2/3 rounded-lg"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div class="inline-div flex my-3">
        <!-- <div class="my-2">Name</div> -->
        <div class="w-1/2 mr-2">
          <input
            class="py-1.5 px-2 rounded-md transition-effect w-full"
            [ngClass]="
              isDarkMode
                ? 'bg-dark-input placeholder:text-[#c7c4c4]'
                : 'bg-light-input placeholder:text-[#656363]'
            "
            formControlName="firstName"
            type="text"
            name="first_name"
            placeholder="First name"
          />
          <div
            *ngIf="
              form.get('firstName')?.invalid && form.get('firstName')?.touched
            "
          >
            <small *ngIf="form.get('firstName')?.errors?.['required']"
              >First name is required.</small
            >
            <small *ngIf="form.get('firstName')?.errors?.['minlength']"
              >Must be at least 2 characters.</small
            >
          </div>
        </div>
        <div class="w-1/2 ml-2">
          <input
            class="py-1.5 px-2 rounded-md transition-effect w-full"
            [ngClass]="
              isDarkMode
                ? 'bg-dark-input placeholder:text-[#9e9d9d]'
                : 'bg-light-input placeholder:text-[#727070]'
            "
            formControlName="lastName"
            type="text"
            name="last_name"
            placeholder="Last name"
          />
          <div
            *ngIf="
              form.get('lastName')?.invalid && form.get('lastName')?.touched
            "
          >
            <small *ngIf="form.get('lastName')?.errors?.['required']"
              >Last name is required.</small
            >
            <small *ngIf="form.get('lastName')?.errors?.['minlength']"
              >Must be at least 2 characters.</small
            >
          </div>
        </div>
      </div>
      <div class="inline-div flex my-3">
        <!-- <div class="my-2">Email</div> -->
        <div class="w-1/2 mr-2">
          <input
            class="py-1.5 px-2 rounded-md transition-effect w-full"
            [ngClass]="
              isDarkMode
                ? 'bg-dark-input placeholder:text-[#9e9d9d]'
                : 'bg-light-input placeholder:text-[#727070]'
            "
            formControlName="email"
            type="text"
            name="email_address"
            placeholder="Email address"
          />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <small *ngIf="form.get('email')?.errors?.['required']"
              >Email is required.</small
            >
            <small *ngIf="form.get('email')?.errors?.['email']"
              >Invalid email format.</small
            >
          </div>
        </div>
        <div class="w-1/2 ml-2">
          <input
            class="py-1.5 px-2 rounded-md transition-effect w-full"
            [ngClass]="
              isDarkMode
                ? 'bg-dark-input placeholder:text-[#9e9d9d]'
                : 'bg-light-input placeholder:text-[#727070]'
            "
            formControlName="mobile"
            type="text"
            maxlength="10"
            name="phone_number"
            placeholder="Mobile Number"
          />
          <div
            *ngIf="form.get('mobile')?.invalid && form.get('mobile')?.touched"
          >
            <small *ngIf="form.get('mobile')?.errors?.['required']"
              >Mobile number is required.</small
            >
            <small *ngIf="form.get('mobile')?.errors?.['pattern']"
              >Must be a valid number.</small
            >
          </div>
        </div>
      </div>
      <div class="my-3">
        <!-- <div class="my-2">Message</div> -->
        <div>
          <textarea
            class="py-1.5 px-2 rounded-md transition-effect w-full"
            [ngClass]="
              isDarkMode
                ? 'bg-dark-input placeholder:text-[#9e9d9d]'
                : 'bg-light-input placeholder:text-[#727070]'
            "
            formControlName="message"
            type="text"
            name="message"
            rows="4"
            placeholder="Message"
          ></textarea>
          <div
            *ngIf="form.get('message')?.invalid && form.get('message')?.touched"
          >
            <small *ngIf="form.get('message')?.errors?.['required']"
              >Message is required.</small
            >
            <small *ngIf="form.get('message')?.errors?.['minlength']"
              >Must be at least 10 characters.</small
            >
          </div>
        </div>
      </div>
      <div class="flex mb-3">
        <div
          class="btn animation-div ml-auto mr-5 px-5 py-2 cursor-pointer"
          (click)="cancelHandler()"
        >
          <i class="animation-left-icon fa-solid fa-arrow-left mr-4"></i>
          <span class="animation-text">Cancel</span>
        </div>
        <!-- <div class="btn animation-div px-5 py-2">
          <span class="animation-text">Send</span>
          <i class="animation-icon fa-solid fa-arrow-right ml-5"></i>
        </div> -->
        <div
          class="btn px-5 py-2"
          [ngClass]="
            form.invalid ? 'btn-disabled' : 'animation-div cursor-pointer'
          "
        >
          <button
            class="animation-text"
            type="submit"
            [disabled]="form.invalid"
          >
            Submit
          </button>
          <i class="animation-icon fa-solid fa-arrow-right ml-5"></i>
        </div>
      </div>
    </div>
  </form>
  <!-- </div> -->
</div>
