<div class="main-div pt-[140px]">
  <hr />
  <div
    class="expertise-heading text-center"
    [ngClass]="isDarkMode ? 'main-heading-effect' : ''"
  >
    My Expertise
  </div>
  <hr />
  <div class="my-20">
    <div
      class="intro basic-para"
      [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
    >
      {{ expertiseData.intro.data }}
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.professionalApproach.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.professionalApproach.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.fullstackDev.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.fullstackDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.frontendDev.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.frontendDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.backendDev.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.backendDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.responsiveDesign.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.responsiveDesign.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="heading"
        [ngClass]="isDarkMode ? 'dark-heading' : 'light-heading'"
      >
        {{ expertiseData.versionControl.name }}
      </div>
      <div
        class="basic-para mt-4"
        [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
      >
        <div *ngFor="let data of expertiseData.versionControl.data">
          {{ data }}
        </div>
      </div>
    </div>
  </div>
</div>
