<div class="main-div py-[140px] mx-auto">
  <hr />
  <div class="about-heading text-center">My Expertise</div>
  <hr />
  <div>
    <div class="intro para basic-para mt-5">
      {{ expertiseData.intro.data }}
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.professionalApproach.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.professionalApproach.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.fullstackDev.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.fullstackDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.frontendDev.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.frontendDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.backendDev.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.backendDev.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.responsiveDesign.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.responsiveDesign.data">
          {{ data }}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="heading">
        {{ expertiseData.versionControl.name }}
      </div>
      <div class="para basic-para mt-4">
        <div *ngFor="let data of expertiseData.versionControl.data">
          {{ data }}
        </div>
      </div>
    </div>
  </div>
</div>
