.main-div {
  height: 100%;
  width: 800px;
}
.expertise-heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.expertise-heading:hover {
  // background: linear-gradient(180deg, black, #e52e71);
  // -webkit-background-clip: text;
  // background-clip: text;
  // color: transparent;
  // text-shadow: none;
  color: rgb(var(--heading-pink));
}
hr {
  background-color: rgba(var(--heading-pink));
  color: rgb(var(--heading-pink));
  height: 2px;
}
.basic-para {
  font-size: 20px;
  text-align: justify;
}
.heading {
  font-size: 24px;
}
.main-heading-effect {
  color: rgb(var(--heading-pink));
}
