.main-div {
  height: 100%;
  width: 800px;
}
.expertise-heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.expertise-heading:hover {
  color: rgb(var(--heading-pink));
}
hr {
  background-color: rgba(var(--heading-pink));
  color: rgb(var(--heading-pink));
  height: 2px;
}
.basic-para {
  font-size: 20px;
  text-align: justify;
}
.heading {
  font-size: 24px;
}
.main-heading-effect {
  color: rgb(var(--heading-pink));
}

@media screen and (max-width: 768px) {
  .main-div {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
