<div class="main-skill-div">
  <div class="pt-[140px]">
    <hr />
    <div
      class="heading text-center"
      [ngClass]="isDarkMode ? 'main-heading-effect' : ''"
    >
      My Skills
    </div>
    <hr />
  </div>
  <div class="skillset-div py-[70px] px-[50px]">
    <canvasjs-chart
      *ngIf="!isDarkMode"
      [options]="chartOptionsLightMode"
      (chartInstance)="getChartInstance($event)"
    ></canvasjs-chart>
    <canvasjs-chart
      *ngIf="isDarkMode"
      [options]="chartOptionsDarkMode"
      (chartInstance)="getChartInstance($event)"
    ></canvasjs-chart>
  </div>
</div>
