.main-skill-div {
  height: 1000px;
}
.heading {
  font-size: 44px;
  transition: 1s ease-in-out;
}
.heading:hover {
  background: linear-gradient(180deg, black, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
}
hr {
  background-color: rgba(var(--heading-red));
  color: rgba(var(--heading-red));
  height: 2px;
}
.main-heading-effect {
  text-shadow: 0 0 20px white;
}
