.main-skill-div {
  height: 100%;
}
.heading {
  font-size: 44px;
  transition: all 0.3s ease-in-out;
}
.heading:hover {
  color: rgba(var(--heading-pink));
}
hr {
  background-color: rgba(var(--heading-pink));
  color: rgba(var(--heading-pink));
  height: 2px;
}
.main-heading-effect {
  color: rgba(var(--heading-pink));
}
.skillset-div {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping to the next line */
  max-width: 100%; /* Adjust as needed based on your layout */
}
@media screen and (max-width: 768px) {
  .skillset-div {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
}
