<div
  class="main-card flex flex-col cursor-pointer"
  [ngClass]="isDarkMode ? 'dark-card' : 'light-card'"
  (mouseenter)="onHover(true)"
  (mouseleave)="onHover(false)"
  (click)="navigateTo()"
>
  <div>
    <img
      class="logo"
      src="{{ projectData.logo }}"
      alt=""
      [ngClass]="isDivHovered ? 'colored' : ''"
    />
  </div>
  <div
    class="heading"
    [ngClass]="isDarkMode ? 'heading-dark' : 'heading-light'"
  >
    {{ projectData?.projectName }}
  </div>
  <div
    class="description mt-3"
    [ngClass]="isDarkMode ? 'dark-para' : 'light-para'"
  >
    {{ projectData?.cardInfo }}
  </div>
  <div class="flex justify-between mt-5">
    <div
      class="cursor-pointer"
      [ngClass]="{
        'read-more-hover': isDivHovered,
        'read-more': !isDivHovered,
        'read-more-dark-mode': isDarkMode,
        'read-more-dark-mode-hover': isDarkMode && isDivHovered
      }"
    >
      Read more
    </div>
    <div class="year" [ngClass]="isDarkMode ? 'read-more-dark-mode' : ''">
      {{ projectData?.year }}
    </div>
  </div>
</div>
