<div
  class="main-card flex flex-col cursor-pointer"
  (mouseenter)="onHover(true)"
  (mouseleave)="onHover(false)"
  (click)="navigateTo()"
>
  <!-- [ngStyle]="{ 'background-image': isDivHovered ? getBgImage() : '' }" -->
  <div>
    <img
      class="logo"
      src="{{ projectData.logo }}"
      alt=""
      [ngClass]="isDivHovered ? 'colored' : ''"
    />
  </div>
  <div class="heading">{{ projectData?.projectName }}</div>
  <div class="description mt-3">{{ projectData?.cardInfo }}</div>
  <div class="flex justify-between mt-5">
    <div
      class="cursor-pointer"
      [ngClass]="isDivHovered ? 'read-more-hover' : 'read-more'"
    >
      Read more
    </div>
    <div class="year">{{ projectData?.year }}</div>
  </div>
</div>
