.main-card {
  width: 300px;
  border: 1px solid rgba(256, 256, 256, 0.2);
  border-radius: 10px;
  padding: 20px;
}
.light-card {
  background-color: rgba(0, 0, 0, 0.2);
}
.light-card:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.dark-card {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark-card:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.heading {
  font-size: 24px;
  text-decoration: underline;
}
.heading-dark {
  color: rgb(var(--aqua-blue));
  text-shadow: 0 0 2px black;
}
.heading-light {
  color: rgb(var(--heading-red));
}
.description {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.read-more,
.year {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.read-more-hover {
  font-size: 14px;
  text-decoration: underline rgb(var(--heading-red));
  color: rgb(var(--heading-red));
}
.read-more-dark-mode {
  color: rgba(255, 255, 255, 0.4);
}
.read-more-dark-mode-hover {
  color: rgba(var(--heading-red));
}

.logo {
  height: 40px;
  width: auto;
  filter: grayscale(1);
}
.colored {
  filter: grayscale(0);
}

@media screen and (max-width: 950px) and (min-width: 850px) {
  .main-card {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    filter: grayscale(0);
  }
}
