.project:hover {
  .view-project,
  .project-name {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}

.img-div {
  overflow: hidden;
  position: relative;
  display: inline-block;
  img {
    transition: 0.2s all ease-in;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.project-name {
  font-size: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba(50, 49, 49, 0.3);
}
.text-container {
  color: white;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .text-container {
    font-size: 30px;
  }
}
