.main-div {
  height: 100%;
  width: 800px;
}
.about-heading {
  font-size: 44px;
  transition: 0.5s ease-in-out;
}
.about-heading:hover {
  /* Define a linear gradient for the text color */
  background: linear-gradient(180deg, black, #e52e71);
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
  color: transparent; /* Set text color to transparent */
}
hr {
  background-color: rgba(var(--heading-red));
  color: rgba(var(--heading-red));
  height: 2px;
}
.basic-para {
  font-size: 20px;
  text-align: justify;
}
.heading {
  font-size: 24px;
  font-family: var(--main-heading);
}
