.main-page {
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #210b39,
    #130c4a,
    #081e47,
    #081e47,
    #130c4a,
    #210b39
  );
  height: 100vh;
  color: white;
  font-family: Copperplate;
}
