<div class="main-home">
  <div class="bg-image flex mx-auto pt-[150px]">
    <div class="left-frame flex flex-col w-1/2 pl-10">
      <div
        class="intro my-auto"
        [ngClass]="isDarkMode ? 'dark-intro-font' : 'light-intro-font'"
      >
        <div class="highlight">Hi,</div>
        <div class="highlight">I'm <span>Anupam</span>,</div>
        <div class="highlight">Front-end Developer</div>
      </div>
      <div class="btns-main flex my-auto">
        <div
          class="btns expertise para px-10 py-3 cursor-pointer"
          (click)="navigateTo('/expertise')"
        >
          My Expertise
        </div>
        <div
          class="btns projects para px-10 py-3 ml-5 cursor-pointer"
          (click)="navigateTo('/all-projects')"
        >
          View My Projects
        </div>
      </div>
    </div>
    <div class="img-div w-1/2 mx-auto px-auto my-auto">
      <img class="mx-auto" src="./assets/anupam3.jpg" alt="" />
    </div>
  </div>

  <div class="skills-div h-auto">
    <app-skill-set></app-skill-set>
  </div>
</div>
