<div class="main-home">
  <div class="bg-image">
    <div class="intro pt-[200px] pl-10">
      <div>Hi,</div>
      <div>I'm Anupam,</div>
      <div>Web Developer</div>
    </div>
    <div class="btns-main flex py-20 ml-10">
      <div class="parent1">
        <div
          class="btns experiences para px-10 py-3 cursor-pointer"
          (click)="navigateTo('/expertise')"
        >
          My Expertise
        </div>
      </div>
      <div class="parent2 ml-5">
        <div
          class="btns projects para px-10 py-3 cursor-pointer"
          (click)="navigateTo('/all-projects')"
        >
          View My Projects
        </div>
      </div>
    </div>
  </div>

  <div class="skills-div h-auto mr-5">
    <app-skill-set></app-skill-set>
  </div>
</div>
