.navbar {
  position: fixed;
  top: 0px;
  background-color: rgba(105, 102, 102, 0.5);
  backdrop-filter: blur(6px);
  color: white;
  width: 100%;
  height: auto;
  font-size: 20px;
  transition: top 0.3s;
}

/* Add animation using keyframes */
@keyframes slideFromTop {
  0% {
    top: -100px; /* Start position */
  }
  100% {
    top: 0; /* End position */
  }
}

/* Apply the animation to the navbar */
.loaded {
  animation: slideFromTop 0.5s ease-out; /* 1-second duration with ease-out timing function */
}

.my-name {
  font-size: 48px;
  color: rgb(var(--heading-red));
  text-shadow: 0 0 2px white;
}
img {
  height: 50px;
  width: auto;
  border-radius: 20px;
}

.items-light {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: rgb(233, 231, 231); /* Set the text color */
  font-weight: 600;
  /* Create the underline using ::before pseudo-element */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px; /* Adjust the height of the underline */
    bottom: 0;
    border-radius: 50px;
    left: 0;
    background-color: rgb(
      var(--heading-red)
    ); /* Set the color of the underline */
    transform: scaleX(0); /* Initial transformation to hide the underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Add transition effect */
  }

  /* Apply the underline animation on hover */
  &:hover::before {
    transform: scaleX(1); /* Expand the underline on hover */
    transform-origin: bottom left;
  }
}
.items-dark {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: rgb(233, 231, 231); /* Set the text color */
  font-weight: 600;
  /* Create the underline using ::before pseudo-element */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px; /* Adjust the height of the underline */
    bottom: 0;
    border-radius: 50px;
    left: 0;
    background-color: rgb(
      var(--aqua-blue)
    ); /* Set the color of the underline */
    transform: scaleX(0); /* Initial transformation to hide the underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Add transition effect */
  }

  /* Apply the underline animation on hover */
  &:hover::before {
    transform: scaleX(1); /* Expand the underline on hover */
    transform-origin: bottom left;
  }
}

.selected-item-light,
.items-light:hover {
  color: rgb(var(--heading-red));
}
.selected-item-dark,
.items-dark:hover {
  color: rgb(var(--aqua-blue));
  text-shadow: 0 0 2px black;
}

.big-circle {
  width: 70px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgb(83, 82, 82);
  transition: all 0.7s ease-in-out;
}
.small-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.7s ease-in-out;
}
.darkMode {
  transform: translateX(42px);
  // background-color: #000;
}
.lightMode {
  transform: translateX(2px);
  // background-color: #fff;
}
.display-none {
  display: none;
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
  .my-name {
    font-size: 30px;
  }
  .items {
    margin: 0 10px;
    font-size: 18px;
  }
  img {
    height: 35px;
    width: auto;
    border-radius: 20px;
  }
}
.mobile-main {
  display: none;
}
@media screen and (max-width: 768px) {
  .desktop-main {
    display: none;
  }
  .mobile-main {
    display: flex;
  }
  .menu-dark {
    font-size: 28px;
    color: rgb(201, 196, 196);
  }
  .menu-light {
    font-size: 28px;
    color: rgb(77, 76, 76);
  }
  .close-menu {
    font-size: 28px;
    color: rgb(191, 8, 8);
  }
  .items {
    font-size: 20px;
    margin: 20px 50px 0;
  }
}
