<div class="navbar flex" [ngClass]="{ loaded: isLoaded }" style="z-index: 100">
  <div
    class="my-name flex my-auto ml-5 cursor-pointer"
    (click)="navigateTo('/home')"
  >
    <div class="h-full">
      <img src="./assets/Logo_A6.png" alt="logo" height="80px" width="auto" />
    </div>
    <div class="para flex h-full ml-5 my-auto font-bold">My Portfolio</div>
  </div>
  <div class="para flex ml-auto my-auto">
    <a
      href="./assets/pdfs/Anupam-Mishra-Resume.pdf"
      target="_blank"
      class="items mx-4 cursor-pointer"
    >
      Download Resume
    </a>
    <div
      class="items mx-4 cursor-pointer"
      (click)="navigateTo('/expertise')"
      [ngClass]="currentPath.includes('expertise') ? 'selected-item' : ''"
    >
      Expertise
    </div>
    <div
      class="items mx-4 cursor-pointer"
      (click)="navigateTo('/all-projects')"
      [ngClass]="currentPath.includes('project') ? 'selected-item' : ''"
    >
      Projects
    </div>
    <div class="items mx-4 mr-10 cursor-pointer" (click)="contactMe()">
      Contact Me
    </div>
  </div>
</div>
