.heading {
  font-size: 110px;
  font-weight: 500;
}
hr {
  border-width: 2px;
  border-radius: 10px;
}

.project-name {
  font-size: 24px;
}
.view-project {
  font-size: 16px;
}
.project:hover {
  .view-project,
  .project-name {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}
.img-div {
  overflow: hidden;
  img {
    transition: 0.2s all ease-in;
  }
  img:hover {
    transform: scale(1.05);
  }
}
.main-heading-div {
  font-size: 110px;
}
.main-heading-industry-div {
  font-size: 60px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.dot-dark {
  background-color: #000;
}
.dot-light {
  background-color: #fff;
}
.bullet-text {
  font-size: 20px;
}
.exp-duration,
.exp-work {
  font-size: 18px;
  font-weight: 200;
}
.exp-position {
  font-size: 20px;
  font-weight: 300;
}
.exp-industry {
  font-size: 40px;
}
.experience-div {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.org-div {
  z-index: 10;
}
.org-list-div {
  display: flex;
}

@media screen and (max-width: 1260px) {
  .main-div {
    flex-direction: column;
    padding: 0;
  }
  .left-div,
  .right-div {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 940px) {
  .grid-div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .heading {
    font-size: 60px;
  }
  .main-heading-div {
    font-size: 60px;
  }
  .main-heading-industry-div {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .main-heading-div {
    font-size: 40px;
  }
  .main-heading-industry-div {
    font-size: 40px;
  }
  .project-duration-text {
    display: none;
  }
  .org-list-div {
    display: flex;
    flex-direction: column;
  }
}
