<div class="footer-main-div pt-10 py-5">
  <div *ngIf="hoveringElement === ''" class="my-name text-center px-[50px]">
    <span>Let's Collaborate with</span>
    <span class="heading">Anupam Mishra!</span>
  </div>
  <div
    *ngIf="hoveringElement !== ''"
    class="my-name text-center stroking"
    [ngStyle]="{ color: getStackColor('') }"
  >
    {{ hoveringId }}
  </div>

  <div class="about-div para text-center mx-[200px] mt-5">
    <div>
      I am always eager to take on new challenges and collaborate on exciting
      projects. If you are looking for a dedicated web developer who can bring
      your ideas to life, let's connect!
    </div>
    <div>
      Feel free to explore my portfolio and get in touch for potential
      collaborations or inquiries.
    </div>
  </div>
  <div class="flex mt-10 gap-4 justify-center">
    <div
      class="desktop-div cursor-pointer"
      *ngFor="let social of socialPlatformData"
    >
      <div
        class="social flex"
        (mouseenter)="enableHovering(social.name, social.id)"
        (mouseleave)="disableHovering()"
        [ngClass]="
          hoveringElement === social.name ? 'w-[200px] !bg-[#000]' : ''
        "
      >
        <a
          class="flex span-container self-center mx-auto"
          [ngStyle]="{ color: hoveringElement !== '' ? getStackColor('') : '' }"
          [href]="social.link"
          target="_blank"
        >
          <i
            [ngClass]="[
              social.icons,
              hoveringElement === social.name
                ? 'text-[' + social.color + ']'
                : 'text-[#000]'
            ]"
          ></i>
        </a>
      </div>
    </div>
    <div
      class="mobile-div cursor-pointer"
      *ngFor="let social of socialPlatformData"
    >
      <div
        class="social flex !bg-[#000]"
        (mouseenter)="enableHovering(social.name, social.id)"
        (mouseleave)="disableHovering()"
      >
        <a
          class="flex span-container self-center mx-auto"
          [ngStyle]="{ color: getStackColor(social.name) }"
          [href]="social.link"
          target="_blank"
        >
          <i
            [ngClass]="[
              social.icons,
              true ? 'text-[' + social.color + ']' : ''
            ]"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="credit-div para flex justify-center pt-3 text-lg">
    Designed and Coded by Me with
    <span>&hearts;</span>
  </div>
</div>
