.footer-main-div {
  background-image: linear-gradient(45deg, rgb(82, 80, 80), rgb(59, 58, 58));
  color: white;
}

.social {
  background-color: #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.my-name {
  font-size: 48px;
  transition: all 0.5s ease-in-out;
}
i {
  font-size: 32px;
}
span {
  margin-left: 15px;
}
.heading {
  color: rgb(var(--color-heading-red));
  text-shadow: 1px 1px 2px black;
}

.about-div {
  font-size: 20px;
}

.stroking {
  text-shadow: 5px 0px 5px black;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.span-container {
  position: relative;
  overflow: hidden;
}

.credit-div span {
  margin-left: 5px;
  font-size: 24px;
  color: rgb(var(--color-heading-red));
}

.mobile-div {
  display: none;
}
@media screen and (max-width: 768px) {
  .about-div {
    width: 100%;
    padding: 50px 50px 30px 50px;
    margin: 0;
  }
  .my-name {
    font-size: 30px;
  }
  .desktop-div {
    display: none;
  }
  .mobile-div {
    display: flex;
  }
}
