<div class="footer-main-div flex flex-col absolute inset-x-0 bottom-0">
  <div class="left-div flex w-full justify-between">
    <div class="flex flex-col justify-items-center ml-5 w-1/2">
      <div class="my-name">Anupam Mishra</div>
      <div>Haar ke jeetne wale ko baazigar kehte hai,</div>
      <div>Code jiska ek bar me compile ho jaye usey techie kehte hai...</div>
    </div>
    <div class="w-1/2 grid grid-cols-2 gap-4">
      <div class="social-platforms">
        <a
          class="flex"
          href="mailto:anupam.mishra345@gmail.com"
          target="_blank"
        >
          <i
            class="fa-solid fa-envelope self-center"
            style="color: #ffffff"
          ></i>
          <span class="self-center">Email</span>
        </a>
      </div>
      <div class="social-platforms">
        <a
          class="flex"
          href="https://www.linkedin.com/in/anupam-pramod-mishra/"
          target="_blank"
        >
          <i
            class="fa-brands fa-linkedin self-center"
            style="color: #2159ba"
          ></i>
          <span class="self-center">LinkedIn</span>
        </a>
      </div>
      <div class="social-platforms">
        <a class="flex" href="" target="_blank">
          <i class="fa-brands fa-github"></i>
          <span class="self-center">Github</span>
        </a>
      </div>
      <div class="social-platforms">
        <a class="flex" href="https://wa.me/917747852594" target="_blank">
          <i
            class="fa-brands fa-whatsapp self-center"
            style="color: #317d70"
          ></i
          ><span class="self-center">WhatsApp</span>
        </a>
      </div>
      <div class="social-platforms insta">
        <a
          class="flex"
          href="https://www.instagram.com/anupam.mishra315/"
          target="_blank"
        >
          <i
            class="fa-brands fa-instagram self-center"
            style="color: #ae3d79"
          ></i>
          <span class="self-center">Instagram</span>
          <span class="self-center">anupam.mishra315</span>
        </a>
      </div>
    </div>
  </div>
  <hr class="mt-2" />
  <div class="mx-auto mt-2">&copy; copyright 2024. Made by Anupam Mishra</div>
</div>
