/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-heading-red: 165, 25, 25;
  --font-heading: Palatino;
  // --font-paragraph: Source Sans Pro;
  --font-paragraph: Optima;
}

.para {
  font-family: var(--font-paragraph);
}
.light-para {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-paragraph);
}
.dark-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-paragraph);
}
.light-heading {
  font-family: var(--font-heading);
  color: rgb(0, 0, 0);
}
.dark-heading {
  font-family: var(--font-heading);
  color: rgb(var(--color-heading-red));
}
