/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --heading-red: 131, 21, 21;

  --main-heading: Copperplate;
  --paragraph: Source Sans Pro;
}

.para {
  font-family: var(--paragraph);
}
