/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --heading-red: 131, 21, 21;
  --heading-pink: 229, 46, 113;
  --aqua-blue: 47, 202, 202;
  --main-heading: Copperplate;
  --paragraph: Source Sans Pro;
}

.para {
  font-family: var(--paragraph);
}
.light-para {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--paragraph);
}
.dark-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--paragraph);
}
.light-heading {
  font-family: var(--main-heading);
}
.dark-heading {
  // color: rgb(var(--heading-red));
  font-family: var(--main-heading);
  // font-family: var(--paragraph);
  color: rgb(var(--aqua-blue));
}
