.main-div {
  height: 100%;
  // width: 800px;
  width: 100%;
}
.heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.main-heading-effect {
  color: rgb(var(--heading-pink));
}

.heading:hover {
  color: rgb(var(--heading-pink));
}
.tools-heading {
  font-size: 24px;
  // text-align: center;
}
.tool-div {
  background-color: rgb(var(--heading-red), 0.2);
  border-radius: 20px;
  border: 1px solid rgb(var(--heading-red), 0.8);
  transition: 0.5s ease-in-out;
}
.tool-div:hover {
  background-color: rgb(var(--heading-red), 0.4);
  color: white;
}
.project-data {
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
}

hr {
  background-color: rgba(var(--heading-pink));
  color: rgba(var(--heading-pink));
  height: 2px;
}

.live-btn {
  background-color: rgb(144, 26, 208);
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.back-btn {
  border: 1px solid rgb(144, 26, 208);
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.back-btn:hover,
.live-btn:hover {
  position: relative;
  transform: translateY(-5px);
}

.list {
  list-style-type: none;
  margin-left: 20px;
}

.list li {
  list-style-type: none;
  position: relative;
  padding-left: 5px;
}
.list li:before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: rgb(134, 4, 10);
  position: absolute;
  top: 12px;
  left: -15px;
}
.logo img {
  height: 80px;
  width: auto;
}
.project-ss img {
  height: auto;
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
}
.resp {
  display: none;
}
.main-left {
  display: block;
  // overflow-y: hidden;
}
.sticky-btn {
  overflow-y: auto;
  position: sticky;
  top: 30px;
}
.sticky-btn2 {
  overflow-y: auto;
  position: sticky;
  top: 30px;
}
.below-div {
  max-height: calc(100vh - 250px);
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .below-div {
    max-height: 100%;
    // overflow: visible;
  }
  .main-div {
    width: 100%;
    // padding-left: 50px;
    // padding-right: 50px;
  }
  .resp {
    display: block;
  }
  .main-left {
    display: none;
  }
  .main-right {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .buttons-div {
    flex-direction: column;
  }
  .live-btn,
  .back-btn {
    margin: 0;
    width: 100%;
  }
  .back-btn {
    margin-top: 20px;
  }
  .back-btn:hover,
  .live-btn:hover {
    transform: translateY(0);
  }
  .heading {
    font-size: 36px;
  }
  .logo img {
    height: 50px;
  }
}
