.main-div {
  height: 100%;
  width: 800px;
  // border: 1px solid black;
}
.heading {
  font-size: 44px;
  transition: 0.3s ease-in-out;
}
.main-heading-effect {
  // text-shadow: 0 0 20px white;
  color: rgb(var(--heading-pink));
}

.heading:hover {
  // background: linear-gradient(180deg, black, #e52e71);
  // -webkit-background-clip: text;
  // background-clip: text;
  // color: transparent;
  // text-shadow: none;
  color: rgb(var(--heading-pink));
}
.tools-heading {
  font-size: 24px;
  // font-family: var(--main-heading);
}
.tool-div {
  background-color: rgb(var(--heading-red), 0.2);
  border-radius: 20px;
  border: 1px solid rgb(var(--heading-red), 0.8);
  transition: 0.5s ease-in-out;
}
.tool-div:hover {
  background-color: rgb(var(--heading-red), 0.4);
  color: white;
}
.project-data {
  // font-family: var(--paragraph);
  font-size: 18px;
  text-align: justify;
  //   word-spacing: 5px;
  line-height: 1.7;
  // color: rgb(53, 52, 52);
}

hr {
  background-color: rgba(var(--heading-pink));
  color: rgba(var(--heading-pink));
  height: 2px;
}

.live-btn {
  background-color: rgb(144, 26, 208);
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.back-btn {
  border: 1px solid rgb(144, 26, 208);
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.back-btn:hover,
.live-btn:hover {
  position: relative;
  transform: translateY(-5px);
}

.list {
  list-style-type: none;
  margin-left: 20px;
}

.list li {
  list-style-type: none;
  position: relative;
  padding-left: 5px;
}
.list li:before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: rgb(134, 4, 10);
  // border: solid 1px #aaa;
  position: absolute;
  top: 12px;
  left: -15px;
}
