.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.dot-dark {
  background-color: #000;
}
.dot-light {
  background-color: #fff;
}
.stack-text {
  font-size: 20px;
}
.techstack-div {
  border-bottom: 1px solid;
}
.techstack-heading-text {
  font-size: 80px;
}
.stack-name {
  font-size: 24px;
}
.view-all-stack-btn {
  font-size: 26px;
  border: 1px solid;
  border-radius: 50px;
}
i {
  font-size: 30px;
  transform: rotate(-45deg);
}
.stack-info {
  font-size: 18px;
  font-weight: 200;
}
.techstack-description {
  font-size: 18px;
}
.arrow-div i {
  transform: rotate(0deg);
}
@media screen and (max-width: 768px) {
  .main-div {
    flex-direction: column;
    padding: 0;
  }
  .left-div {
    width: 100%;
    top: 100px;
  }
  .position-div {
    top: 140px;
    padding: 20px;
  }
  .right-div {
    width: 100%;
  }
  .techstack-heading-text {
    font-size: 40px;
  }
}
