<div class="main-div flex px-10">
  <div class="left-div w-1/2 mb-auto sticky top-[150px]">
    <div class="flex">
      <div
        class="dot transition-effect self-center"
        [ngClass]="isDarkMode ? 'dot-light' : 'dot-dark'"
      ></div>
      <div
        class="stack-text transition-effect self-center px-5"
        [ngClass]="isDarkMode ? 'text-light' : 'text-dark'"
      >
        STACK
      </div>
    </div>
    <div
      class="techstack-heading-text transition-effect"
      [ngClass]="isDarkMode ? 'text-light' : 'text-dark'"
    >
      MY TECH TOOL BOX
    </div>
  </div>
  <div
    class="right-div w-1/2 transition-effect"
    [ngClass]="isDarkMode ? 'text-light bg-dark' : 'text-dark bg-light'"
  >
    <div>
      <div
        *ngFor="let techstack of techstacks; let i = index"
        class="position-div px-5 pt-10 pb-5 sticky top-[100px] transition-effect"
        [ngClass]="[
          isDarkMode ? 'text-light bg-dark' : 'text-dark bg-light',
          i < techstacks.length - 1 ? 'techstack-div' : ''
        ]"
      >
        <!-- <div class="mb-5">
          <span>{{ i < 10 ? "0" : "" }}</span
          >{{ i + 1 }}
        </div> -->
        <div class="flex" (click)="showDescription(techstack.name)">
          <div class="self-center">
            <img
              [src]="techstack?.logo"
              alt="logo"
              height="40px"
              width="40px"
            />
          </div>
          <div class="ml-3 mt-2 self-center">
            <div class="stack-name">{{ techstack?.name }}</div>
            <div class="stack-info mb-4">{{ techstack.info }}</div>
          </div>
          <div class="arrow-div ml-auto my-auto mr-3 cursor-pointer">
            <i
              *ngIf="openDescriptionName !== techstack?.name"
              class="fa-solid fa-chevron-down"
            ></i>
            <i
              *ngIf="openDescriptionName === techstack?.name"
              class="fa-solid fa-chevron-up"
            ></i>
          </div>
        </div>
        <div
          *ngIf="openDescriptionName === techstack?.name"
          class="techstack-description pt-3"
        >
          "{{ techstack?.description }}"
        </div>
      </div>
    </div>

    <div
      class="py-10 text-center relative transition-effect"
      [ngClass]="isDarkMode ? 'text-light bg-dark' : 'text-dark bg-light'"
    >
      <div
        class="view-all-stack-btn animation-div transition-effect w-fit mx-auto px-10 py-5 cursor-pointer"
        [ngClass]="
          isDarkMode
            ? 'text-light btn-click-animation-light'
            : 'text-dark btn-click-animation-dark'
        "
        (click)="viewAllStacks()"
      >
        <div class="animation-text">View All Stacks</div>
        <i class="animation-icon fa-solid fa-arrow-right ml-5"></i>
      </div>
    </div>
  </div>
</div>
